@charset "utf-8";

@import  "variables.scss";

// If need, change your variables before importing Bulma
html, body {
  font-family: "Noto Sans JP", sans-serif;
  color: $color;
}

a {
  color: $link-color;
  font-weight: bold;
}