@charset "utf-8";

@import  "variables.scss";

// If need, change your variables before importing Bulma
html, body {
  font-family: 'M PLUS Rounded 1c', 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  color: $color;
}

a {
  color: $link-color;
  font-weight: bold;
}