@import "../styles/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;;
}

.icon {
  object-fit: cover;
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.socials {
  padding: 16px;
  font-size: 32px;
}

.social {
  transition: all ease 500ms;
  color: #666666;
  margin: 8px;

  &:hover {
    opacity: $hover-opacity;
  }
}